@model CartListViewModel
<h2>Sepetiniz</h2>

@if (Model.Cart.CartLines.Count == 0)
{
    <h2 class="badge badge-danger">SEPETİNİZ BOŞ</h2>
}
else
{
    <table class="table table-responsive" style="float: right">
        <thead>
        <tr>
            <th>Id</th>
            <th>Ürün İsmi</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
            <th>Stok Adedi</th>
        </tr>
        </thead>
        @foreach (var cartLine in Model.Cart.CartLines)
        {
            <tbody>
            <tr>
                <td>@cartLine.Product.ProductId</td>
                <td>@cartLine.Product.ProductName</td>
                <td>@cartLine.Product.QuantityPerUnit</td>
                <td>@cartLine.Product.UnitPrice</td>
                <td>@cartLine.Product.UnitsInStock</td>
                <td><a class="btn btn-sm btn-danger" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@cartLine.Product.ProductId">Sil</a></td>
            </tr>
            </tbody>
        }
    </table>
}

